div {
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }

  div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  }

body {
    color: blueviolet;
    background-color: cornflowerblue;
}